.detailed-movie__container {
    display: inline-block;
    background-color: #e7ddff;
    width: 100%;
}

.movie-detailed-infos__container {
    display: flex;
    width: 90%;
    margin: 10px auto;
    padding: 10px 10px;
}

.movie-detailed-infos__container2 {
    display: flex;
    width: 100%;
}

.detailed-movie__youtube {

    width: 50%;
    height: 300px;

}