.App {
  text-align: center;
}

.movie-list__container {
  display: inline-block;
  background-color: #e7ddff;
  width: 100%;
}

.movie-list-title__container {
  display: inline-block;
  margin: 1px auto;
  width: 90%;
  padding: 10px 10px;
  border-radius: 20px;
  background-color: rgba(98, 99, 255, 0.91);
  color: white;
}

.movie-list-items__container {
  display:inline-block;
  background-color: rgba(205, 215, 255, 0.85);
  width: 90%;
  border-radius: 20px;

}

.movie-list_item__container {
  display: flex;
  width: 100%;
  margin: 10px auto;
  padding: 10px 10px;
}

.movie-list-item-detail__container {
  color: #000000;
  text-align: left;
}

a {
  color: #120796;
}
a:hover {
  color: #00F
}


